#badge {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    padding: 0.1em 0.5em;
    margin: 0.1em 0;
    width: 100%;
    max-width: 200px;
    text-align: left;
}

#veganity {
    position: absolute;
    top: 0em;
    right: 0.5em;
}
img {
    display: inline-block;
    height: 1em;
    width: auto;
}