#badge {
    display: block;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 0 0.5em;
}
span {
    color: green;
    background-color: #fff;
    border: 2px solid grey;
}
#vegan {
    color: #fff;
    background-color: green;
}
#vegetarian {
    display: inline;
    position: absolute;
    right: 2em;
}