a,a:hover,a:focus {
    text-decoration: none;
    color: inherit;
    cursor: default;
}
#mealDiv {
    margin: 0.2em;
    padding: 0.5em;
    border: 2px solid grey;
    border-radius: 5px;
    height: 400px;
    position: relative;
    background-color: #fff;
}


.cover {
    z-index: 100;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
}

#mealDiv:hover .cover {
    background-color: rgba(255, 0, 0, 0.1);
}

#loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h2 {
    display: block;
    height: 6rem;
}