<a routerLink="/mealdetail/{{year}}/{{week.getValue()}}/{{day}}">
    <div id="mealDiv">
        <!-- loading -->
        <div *ngIf="!meal && !empty">
            <img id="loading" src="assets/images/Loading_icon.gif" alt="">
        </div>
        <!-- display meal -->
        <div *ngIf="meal"> 
            <h2>
                {{meal.mealName | titlecase}}
            </h2> 
            <div [ngSwitch]="meal.veganity" id="veganity">
                <ng-container *ngSwitchCase="0">
                    <img src="assets/images/vegan-0.png" title="Omnivore" alt="Omnivore">
                </ng-container>
                <ng-container *ngSwitchCase="1">
                    <img src="assets/images/vegan-1.png" title="Vegetarian" alt="Vegetarian">
                </ng-container>
                <ng-container *ngSwitchCase="2">
                    <img src="assets/images/vegan-2.png" title="Vegan" alt="Vegan">
                </ng-container>
                <ng-container *ngSwitchCase="3">
                    <img src="assets/images/vegan-3.png" title="Vegan level 5: Eats nothing that casts a shadow" alt="Vegan level 5: Eats nothing that casts a shadow">
                </ng-container>
                {{meal.veganityText}}
            </div>
            <p>
                cook:
            </p>
            <app-user-badge [userId]="meal.cookId"></app-user-badge>
            <p *ngIf="meal.diners.length>0">diners:</p>
            <span *ngFor="let diner of meal.diners" >
                <app-user-badge [userId]="diner"></app-user-badge>  
            </span>
        </div>
        <!-- meal empty -->
        <div *ngIf="empty" >
            noones cooking!
        </div>
    </div>
</a>
