a,a:hover,a:focus {
    text-decoration: none;
    color: inherit;
    cursor: default;
}
#mealDiv {
    margin: 0.2em;
    padding: 0.5em;
    border: 2px solid grey;
    border-radius: 5px;
    height: 400px;
    position: relative;
    background-color: #fff;
    z-index: 10;
}



#loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h2 {
    display: block;
    height: 6rem;
}