a,a:hover,a:focus {
    text-decoration: none;
    color: inherit;
    cursor: default;
}
#mealDiv {
    position: relative;
    margin: 0.2em;
    padding: 0.5em;
    background-color: #fff;
    border-radius: 5px;
    height: 400px;
    position: relative;
    z-index: 10;
    text-align: left;
    overflow-y: hidden;
}
p {
    margin: 0.5em 0;
}

#loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h2 {
    display: block;
}

/* 
#veganity {
    position: absolute;
    top: 0em;
    right: 0.5em;
} */
#veganity img {
    display: inline-block;
    height: 1em;
    width: auto;
}