nav {
    display: block;
    text-align: left;
    background-color: #009;
    font-size: 1.5em;    
    padding: 1em 2em;
    color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    z-index: 1;
}
nav a {
    background:white;
    color: black;
    border-radius: 5px;
    padding: 0.1em 0.5em;
}
a, a:hover, a:focus {
    text-decoration: none;
}

.container {
    max-width: 1024px;
    padding: 0;
    border: 1px solid black;
    background-color: #f0f0f0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

footer {
    display: block;
    text-align: center;
    background-color: #009;
    font-size: 1.5em;    
    padding: 1em 2em;
    color: #fff;
}

footer a {
    color: #ccc;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6)
}
