.container {
    max-width: 1024px;
    padding: 0;
    border: 1px solid black;
    background-color: #eef;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

footer {
    display: block;
    text-align: center;
    background-color: #ccc;
    font-size: 1.5em;    
    padding: 1em 2em;
}