<!-- app -->
<div class="container">
  <!-- nav -->
  <nav>
    <div class="row">
      <div class="col-sm-4">
        <a routerLink="/calendar">Calendar</a>
      </div>
      <div class="col-sm-4 text-center">
        {{title}}
      </div>
      <div class="col-sm-4 text-right">
        <span *ngIf="user">
          <a routerLink="/profile">{{user.name}}</a>
        </span>
        <a (click)="loginService.logOut()">logout</a>
      </div>
    </div>
  </nav>
  <!-- main -->
  <main>
    <router-outlet>
    </router-outlet>
  </main>
  <!-- footer -->
  <footer>
    berlin.origin lunchApp | code by  <a href="https://github.com/k-jahn">Konrad</a>
  </footer>
</div>


<!-- overlay if not logged in -->
<div class="overlay" *ngIf="!user">
  <div class="splash">
    <app-login></app-login>
  </div>
</div>