<div class="row d-flex">
  <div class="col-lg-1 arrow justify-content-center">
    <img src="assets/images/chevron_left_48px.svg" alt="">
  </div>
  <div class="col-lg-2 day past">
    <h3>Monday</h3>
    <app-meal [year]="2017" [week]="0" [day]="0"></app-meal>
  </div>
  <div class="col-lg-2 day present">
    <h3>Tuesday</h3>
    <app-meal [year]="2017" [week]="0" [day]="1"></app-meal>
  </div>
  <div class="col-lg-2 day future">
    <h3>Wednesday</h3>
    <app-meal [year]="2017" [week]="0" [day]="2"></app-meal>
  </div>
  <div class="col-lg-2 day future">
    <h3>Thursday</h3>
    <app-meal [year]="2017" [week]="0" [day]="3"></app-meal>
  </div>
  <div class="col-lg-2 day future">
    <h3>Friday</h3>
    <app-meal [year]="2017" [week]="0" [day]="4"></app-meal>
  </div>
  <div class="col-lg-1 arrow justify-content-center">
    <img src="assets/images/chevron_right_48px.svg" alt="">
  </div>
</div>