#calendar {
    margin: 2em 0;
}
h3 {
    text-align: center;
}
.day {
    max-width: 200px;
}


div.row {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0;
}
div.row>div {
    position: relative;
    padding: 0;
}
div.arrow {
    max-width: 100px;
}
.arrow img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.past {
}
.present {
    background-color: #bfb
}
.present>h3 {
    font-weight: bold;
}
.future {
}

.cover {
    z-index: 1;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
}

div:hover>.cover {
    background-color: rgba(0, 0, 0, 0.15);
}

div.arrow:hover>.cover {
    background-color: rgba(0, 0, 0, 0.15);
}

.icon img {
    display: inline-block;
    height: 1.2em;
    width: auto;
}