<div class="row d-flex" id="calendar">
  
  <div class="col-lg-1 arrow justify-content-center" (click)="go(-1)">
    <div class="cover"></div>
    <img src="assets/images/chevron_left_48px.svg" alt="">
  </div>
  <div class="col-lg-2 day past">
    <div class="cover"></div>
    <h3>Monday</h3>
    <app-meal [year]="2017" [week]="week" [day]="0"></app-meal>
    0 <span class="icon"><img src="assets/images/comment.svg" alt=""></span>
  </div>
  <div class="col-lg-2 day present">
    <h3>Tuesday</h3>
    <div class="cover"></div>
    <app-meal [year]="2017" [week]="week" [day]="1"></app-meal>
    0 <span class="icon"><img src="assets/images/comment.svg" alt=""></span>
  </div>
  <div class="col-lg-2 day future">
    <h3>Wednesday</h3>
    <div class="cover"></div>
    <app-meal [year]="2017" [week]="week" [day]="2"></app-meal>
    0 <span class="icon"><img src="assets/images/comment.svg" alt=""></span>
  </div>
  <div class="col-lg-2 day future">
    <h3>Thursday</h3>
    <div class="cover"></div>
    <app-meal [year]="2017" [week]="week" [day]="3"></app-meal>
    0 <span class="icon"><img src="assets/images/comment.svg" alt=""></span>
  </div>
  <div class="col-lg-2 day future">
    <h3>Friday</h3>
    <div class="cover"></div>
    <app-meal [year]="2017" [week]="week" [day]="4"></app-meal>
    0 <span class="icon"><img src="assets/images/comment.svg" alt=""></span>
  </div>
  <div class="col-lg-1 arrow justify-content-center" (click)="go(1)">
    <div class="cover"></div>
    <img src="assets/images/chevron_right_48px.svg" alt="">
  </div>
</div>