<h2>2017 week 0</h2>
<div class="row">
  <div class="col-sm-1">
    PAST
  </div>
  <div class="col-sm-2">
    <app-meal [year]="2017" [week]="0" [day]="0"></app-meal>
  </div>
  <div class="col-sm-2">
    <app-meal [year]="2017" [week]="0" [day]="1"></app-meal>
  </div>
  <div class="col-sm-2">
    <app-meal [year]="2017" [week]="0" [day]="2"></app-meal>
  </div>
  <div class="col-sm-2">
    <app-meal [year]="2017" [week]="0" [day]="3"></app-meal>
  </div>
  <div class="col-sm-2">
    <app-meal [year]="2017" [week]="0" [day]="4"></app-meal>
  </div>
  <div class="col-sm-1">
    FUTURE
  </div>
</div>